



.breadcrumbs {
  padding: 0 15px;
  max-width: var(--grid-width-row, 1380px);
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 768px) {
    .breadcrumbs {
      padding: 0 50px; } }

.breadcrumbs-section + .product-section .thb-product-detail {
  margin-top: 0; }

.breadcrumbs-section + .section-template-header .template-header {
  padding-top: 15px; }

.breadcrumbs-section scroll-shadow {
  width: 100%; }

.breadcrumbs {
  font-size: 0.75rem;
  line-height: 1.5;
  overflow-x: scroll;
  padding: 15px 0;
  display: inline-flex;
  width: 100%;
  white-space: nowrap;
  max-width: 100vw;
  text-align: left;
  scrollbar-width: none; }
  
  .breadcrumbs p {
    margin: 0;
}
.template-collection-indoor-bundle .breadcrumbs {
    padding: 0;
}
  @media only screen and (min-width: 768px) {
    .breadcrumbs {
      padding: 15px 0;
      overflow-x: hidden; } }
  .breadcrumbs::-webkit-scrollbar {
    display: none; }
  .breadcrumbs i {
    opacity: 0.2;
    display: inline-block;
    margin: 0 8px; }
  .breadcrumbs a {
    text-decoration: underline;
    text-underline-offset: 3px; }

  @media screen and (max-width: 767px) {
    .template-collection-indoor-bundle .breadcrumbs {
        padding: 15px 0;
    }
    .template-collection-indoor-bundle .breadcrumbs {padding-bottom: 0;}
  }  
