.image-with-text--image-media, .image-with-text--content {isolation: isolate;border-radius: var(--block-border-radius, 16px);}
.image-with-text--image-media {box-shadow: var(--block-shadows);}
.image-with-text {display: grid;grid-auto-flow: dense;}
@media only screen and (min-width: 768px) {
  .image-with-text {grid-template-areas: "media content";grid-template-columns: 1fr 1fr;}
}
@media only screen and (min-width: 768px) {
  .image-with-text.text_first {grid-template-areas: "content media";}
}
.image-with-text--image {
    width: 100%;
    display: flex;
    align-items: center;
}
@media only screen and (min-width: 768px) {
  .image-with-text--image {grid-area: media;}
}
.image-with-text--image svg,
.image-with-text--image img {position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
.image-with-text--image svg {padding: 50px;fill: var(--bg-body, #fff);opacity: 0.5;background: var(--color-accent);}
.image-with-text--image-media {position: relative;width: 100%;overflow: hidden;padding-bottom: var(--ratio-percent);}
.image-with-text--image-media.aspect-ratio--small {padding-bottom: 75%;}
.image-with-text--image-media.aspect-ratio--large {padding-bottom: 100%;}
.image-with-text--image-media iframe, .image-with-text--image-media video {position: absolute;top: 0;left: 0;height: 100%;width: 100%;object-fit: cover;}
.image-with-text--content {display: flex;width: 100%;flex-grow: 1;padding: 15px;align-items: center;background: var(--color-bg, #fff);}
@media only screen and (min-width: 768px) {
  .image-with-text--content {padding: 45px;grid-area: content;}
}
@media only screen and (min-width: 1068px) {
  .image-with-text--content {padding: 70px;}
}
.image-with-text--content--inner {max-width: 600px;margin: 0 auto;}
.image-with-text--content--image {margin-bottom: 30px;}
.image-with-text--content--image svg {width: 100px;height: 100px;fill: var(--bg-body, #fff);opacity: 0.5;background: var(--color-accent);margin-bottom: 20px;}
.image-with-text--content p, .image-with-text--content h3 {color: var(--color-text, --color-body);}
.image-with-text--content .text-button {color: var(--color-text, --color-body);}
.image-with-text--content .text-button:before {background: rgba(var(--color-text-rgb), 0.4);}
.image-with-text--content .text-button:after {background: var(--color-text, --color-body);}
.image-with-text--content .accordion summary {color: var(--color-text, --color-body);}
.image-with-text--content .accordion summary span:before, .image-with-text--content .accordion summary span:after {background: var(--color-text, --color-body);}
.image-with-text--content--inner .outline {
    background: transparent;
    border: 1px solid var(--color-accent);
    color: var(--color-body);
    margin-left: 13px;
}
.image-with-text--content--inner .outline:hover {
    color: #FFF;
}
.template-page-our-technology .image-with-text--content--inner .rte p {
    margin-bottom: 0;
}
#image-with-text.image-with-text {
    scroll-margin-top: 130px;
}
@media only screen and (min-width: 768px) {
  .image-with-text.grid--image-small {grid-template-columns: 4fr 6fr;}
}
@media only screen and (min-width: 768px) {
  .image-with-text.grid--image-small.text_first {grid-template-columns: 6fr 4fr;}
}
@media only screen and (min-width: 768px) {
  .image-with-text.grid--image-large {grid-template-columns: 6fr 4fr;}
}
@media only screen and (min-width: 768px) {
  .image-with-text.grid--image-large.text_first {grid-template-columns: 4fr 6fr;}
}
@media only screen and (min-width: 767px) {
  .template-page-our-technology .section-image-with-text .image-with-text {gap: 20px;}
}

@media screen and (max-width: 1199px) {
  .template-page-remote-online-assistance .image-with-text--content {
    padding: 50px;
  }
}
@media screen and (max-width: 1067px) {
  .template-page-remote-online-assistance .image-with-text--content {
    padding: 25px;
  }
}
@media screen and (max-width: 992px) {
  .template-page-remote-online-assistance .image-with-text {
    display: grid;
    grid-auto-flow: dense;
  }
  .template-page-remote-online-assistance .image-with-text {
    grid-template-areas: unset;
    grid-template-columns: unset;
  }
  .template-page-remote-online-assistance .image-with-text--image {
    grid-area: unset;
  }
  .template-page-remote-online-assistance .image-with-text--image {
    width: 100%;
  }
  .template-page-remote-online-assistance .image-with-text--content {
    display: flex;
    width: 100%;
    flex-grow: 1;
    padding: 15px;
    align-items: center;
    background: var(--color-bg, #fff);
    grid-area: unset;
  }
}