.section-multicolumn-with-icons {
  overflow: hidden;
}

.multicolumn-with-icons.text-alignment--center .section-header {
  justify-content: center;
  text-align: center;
}

.multicolumn-with-icons.text-alignment--right .section-header {
  justify-content: flex-end;
  text-align: right;
}

.multicolumn-with-icons__inner {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(1, 1fr);
}

@media only screen and (min-width: 768px) {
  .multicolumn-with-icons__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1068px) {
  .multicolumn-with-icons__inner {
    grid-template-columns: repeat(var(--multicolumn-columns), 1fr);
  }
}
.multicolumn-with-icons__column {
  padding: 35px 50px;
  border-radius: 16px;
  background: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0 10px 30px 0 rgba(155, 135, 108, 0.10);
}

.multicolumn-with-icons__column h4 {
  font-variation-settings: normal;
  font-weight: var(--font-body-medium-weight, 500);
  margin-bottom: 20px;
}


.multicolumn-with-icons__column p {
  margin-bottom: 12px;
  font-size: calc(var(--font-body-scale) * 15px);
  line-height: calc(var(--font-body-line-height-scale) * calc(var(--font-body-scale) * 23px));
  color: var(--color-text, var(--color-body, #2c2d2e));
}

.multicolumn-with-icons__column .rte > *:last-child {
  margin-bottom: 0;
}

.multicolumn-with-icons__column .text-button {
  margin-right: 0;
}

.multicolumn-with-icons__image_bg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 70px;
  background: var(--image-bg);
}

.multicolumn-with-icons__image {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 16px;
  overflow: hidden;
  border-radius: 50px;
  background: var(--image-inner-bg);
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.25);
}

.multicolumn-with-icons__image--inner {
  position: relative;
  padding-bottom: var(--ratio-percent);
}

.multicolumn-with-icons__image--inner.aspect-ratio--portrait {
  padding-bottom: 125%;
}

.multicolumn-with-icons__image--inner.aspect-ratio--square,
.multicolumn-with-icons__image--inner.aspect-ratio--circle {
  padding-bottom: 100%;
}

.multicolumn-with-icons__image--inner.aspect-ratio--circle {
  border-radius: 50%;
}

.multicolumn-with-icons__image--inner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 767px) {
  .multicolumn-with-icons {
  
  }
  .multicolumn-with-icons__column p {
    font-size: calc(var(--font-body-scale) * 14px);
    line-height: calc(var(--font-body-line-height-scale) * calc(var(--font-body-scale) * 22px));
  }
}

@media only screen and (max-width: 767px) {}

.multicolumn-with-icons.text-center .rte {
  padding: 0 15px;
}