.scrolling-text--item span {transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);}
.scrolling-text--full-width-false {isolation: isolate;border-radius: var(--block-border-radius, 16px);}
.scrolling-text {background-color: var(--color-bg, rgba(var(--color-body-rgb), 0.03));color: var(--color-text, var(--color-accent));position: relative;background-size: cover;display: flex;align-items: center;transform: skewY(var(--rotation, 0deg));overflow: hidden;}
.scrolling-text:after {content: "";position: absolute;bottom: 0;left: 0;right: 0;top: 0;z-index: 5;pointer-events: none;background: rgba(var(--overlay-color-rgb), var(--overlay-opacity));}
.scrolling-text-uppercase--true {text-transform: uppercase;}
.scrolling-text--inner {display: flex;align-items: center;white-space: nowrap;font-size: 1.5rem;font-weight: var(--font-body-bold-weight, 600);padding: 30px 0;overflow: hidden;position: relative;z-index: 10;transform: skew(calc(-1 * var(--rotation, 0deg)));}
.scrolling-text--inner.direction-left > div {animation: marquee-left var(--marquee-speed) linear infinite;}
.scrolling-text--inner.direction-right > div {animation: marquee-right var(--marquee-speed) linear infinite;}
.scrolling-text--inner > div {display: flex;align-items: center;flex-shrink: 0;}
.scrolling-text.body-font .scrolling-text--inner {font-weight: var(--font-body-medium-weight, 500);}
.scrolling-text--item {display: inline-flex;align-items: center;padding: 0 30px;}
.scrolling-text--item.outline-text--true * {-webkit-text-fill-color: transparent;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: var(--color-text, var(--color-accent));}
.scrolling-text--link {display: inline-flex;align-items: center;color: var(--color-text, var(--color-accent));}
.scrolling-text--link span {transform-origin: left bottom;}
.scrolling-text--link:hover {color: var(--color-text, var(--color-accent));}
.scrolling-text--link:hover span {transform: skew(-10deg, 0);}
.scrolling-text--image {margin-right: 40px;object-fit: cover;width: auto;}
.scrolling-text--image--small {height: 60px;}
.scrolling-text--image--medium {height: 80px;}
.scrolling-text--image--large {height: 120px;}

.scrolling-text--inner.set-blocks-true, .scrolling-text--inner.set-blocks-true div {gap: 10px;white-space:unset;align-items: unset;}
.scrolling-text--inner.set-blocks-true .scrolling-text--item {padding: 24px;text-align: center;letter-spacing: 0.24px;background: #E2D9C4;border-radius: 12px;width: 229px;justify-content: center;}
.scrolling-text--inner.set-blocks-true .scrolling-text--item span {align-items: center;display: flex;}
.scrolling-text--inner.set-blocks-true > div {position: relative;}
.scrolling-text--inner.set-blocks-true {position: relative;padding: 0;}
.scrolling-text--inner.set-blocks-true:before {width: 60px;height: 100%;content: '';position: absolute;top: 0;left: 0;background: linear-gradient(270deg,#fbfbfb00,#fbfbfb 100%);z-index: 9;}
.scrolling-text--inner.set-blocks-true:after {width: 60px;height: 100%;content: '';position: absolute;top: 0;right: 0;left: auto;background: linear-gradient(90deg,#fbfbfb00,#fbfbfb 100%);z-index: 9;}
.scrolling-text--inner.direction-left:hover > div {
    animation-play-state: paused;
}
@media only screen and (min-width: 768px) {
  .scrolling-text--inner.set-blocks-true:before {width: 329px;background: linear-gradient(270deg,#fbfbfb00,#fbfbfb 65%,#fbfbfb 100%);}
  .scrolling-text--inner.set-blocks-true:after {width: 329px;background: linear-gradient(90deg,#fbfbfb00,#fbfbfb 65%,#fbfbfb 100%);}
}

@keyframes marquee-left {
  0% {transform: translateX(0%);}
  100% {transform: translateX(-100%);}
}
@keyframes marquee-right {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(0%);}
}
