.sign-up-form .section-header {
  padding: 0;
  margin-left: 0;
  text-align: left; }
  .sign-up-form > .row + .row {
    margin-top: 40px;
  }
.sign-up-form--transparent-false {
  background: var(--color-bg, var(--bg-body, #f5f5f5));
  color: var(--color-text, var(--color-body, #2c2d2e));
}
.sign-up-form--transparent-false .sign-up-form--transparent-false {
  padding: 30px;
  background: var(--color-bg, var(--bg-body, #f5f5f5));
  color: var(--color-text, var(--color-body, #2c2d2e));
  border-radius: 8px;
  max-width: 810px; }
  .sign-up-form .sign-up-form .form-notification {
    margin-bottom: 15px; }
  .sign-up-form .sign-up-form.sign-up-form--has-no-blocks {
    margin: 0 auto; }
.sign-up-form--text-title {
  margin-bottom: 20px;
}
.sign-up-form--text-title .section-header--title {
  font-variation-settings: normal;
  font-weight: 500;
}
.sign-up-form--text-description {
  margin-top: 20px;
  text-align: center;
}
.sign-up-form--text-description .section-header--description a {
  font-weight: 700;
  white-space: nowrap;
}
.sign-up-form fieldset .form__label {
  margin-bottom: 5px;
}
div#sign_up {
    scroll-margin-top: 100px;
}
.sign-up-form fieldset .label,
.sign-up-form fieldset .form__label,
.sign-up-form--text-description .section-header--description p {
  font-size: calc(var(--font-body-scale) * 14px);
  line-height: calc(var(--font-body-line-height-scale) * calc(var(--font-body-scale) * 22px)); 
}

.sign-up-form .field input {
  margin-bottom: 10px; 
}
.sign-up-form .field .select {
  margin-bottom: 20px; 
}
.sign-up-form .select select {
  content: '';
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 10L12 14L8 10" stroke="%23151616" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 18px center;
  padding-right: 40px;
  background-size: 24px;
}
.sign-up-form fieldset .label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 24px;
}
.sign-up-form fieldset .label:last-child {
  margin: 0;
}
.sign-up-form fieldset input[type="checkbox"], 
.sign-up-form fieldset input[type="radio"] {
  height: 14px;
  width: 14px;
  margin-right: 5px;
  accent-color: var(--color-accent);
}

.sign-up-form [type="submit"] {
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .sign-up-form--transparent-false .sign-up-form--transparent-false {
    padding: 70px;
    border-radius: 12px;
  }
  .sign-up-form fieldset .label,
  .sign-up-form fieldset .form__label,
  .sign-up-form--text-description .section-header--description p {
    font-size: calc(var(--font-body-scale) * 15px);
    line-height: calc(var(--font-body-line-height-scale) * calc(var(--font-body-scale) * 23px)); 
  }
}