.tabbed-content--tabs button, .tabbed-content--tabs button:after {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }

.tabbed-content--has-bg {
  isolation: isolate;
  border-radius: var(--block-border-radius, 16px); }



.tabbed-content {
  max-width: 960px;
  margin: 0 auto;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.10);
  display: block; }
  .tabbed-content-wrapper .section-header p {
    color: var(--color-body, #2c2d2e); }
  .tabbed-content--has-bg {
    padding: 25px;
    background: var(--color-bg, var(--bg-body, #f5f5f5)); }
    @media only screen and (min-width: 1068px) {
      .tabbed-content--has-bg {
        padding: 55px; } }
  .tabbed-content--scroll {
    width: 100%;
    display: block;
    margin-bottom: 0;
    --scroll-shadow-right: unset;
    transform: translateZ(0px); }
    .tabbed-content--scroll s {
      z-index: 10; }
  .tabbed-content--tabs {
    background: var(--color-accent);
    border-radius: var(--button-border-radius, 6px);
    padding: 10px 5px 0;
    display: block;
    text-align: left;
    min-width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden; }
  @media only screen and (min-width: 768px) {
    .tabbed-content--tabs {
      padding: 10px 39px 0; }
  }
    .tabbed-content--tabs::-webkit-scrollbar {
      display: none; }
    .tabbed-content--tabs button {
      display: inline-flex;
      align-items: center;
      min-height: 29px;
      color: var(--solid-button-label, #fff);
      margin-right: 6px;
      font-size: 0.875rem;
      line-height: 1.4286;
      padding: 8px 12px;
      position: relative;
      z-index: 2; }
      /* .tabbed-content--tabs button:after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background: rgba(var(--color-tabs), 1);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        transform: scale(0, 1);
        transform-origin: left center; } */
      .tabbed-content--tabs button svg {
        fill: rgba(var(--color-tabs), 0.6);
        margin-right: 11px;
        width: 15px;
        height: auto; }
      .tabbed-content--tabs button:hover {
        /* color: rgba(var(--color-tabs), 1); */
        opacity: 1; }
      .tabbed-content--tabs button.active {
        background: var(--solid-button-label, #fff);
        color: var(--color-body, #2c2d2e);
        margin-right: 18px;
        margin-left: 18px;
        opacity: 1;}
        /* .tabbed-content--tabs button.active:after {
          transform: scale(1, 1); } */
        .tabbed-content--tabs button.active svg {
          fill: rgba(var(--color-tabs), 1); }
      .tabbed-content--tabs button b {
        position: absolute;
        top: 0;
        width: 18px;
        height: 100%;
        opacity: 0;
      }
      .tabbed-content--tabs button.active b {
        opacity: 1;
      }
      .tabbed-content--tabs button b.left { left: -18px; }
      .tabbed-content--tabs button b.right { right: -18px; }
      .tabbed-content--tabs button b svg {
        width: 100%;
        height: 100%;
        margin-right: 0;
      }
    .tabbed-content--tabs.tabs-center {
      text-align: center; }
      /* .tabbed-content--tabs.tabs-center button {
        margin: 0 6px; } */
    .tabbed-content--tabs.tabs-right {
      text-align: right; }
      .tabbed-content--tabs.tabs-right button {
        margin: 0 0 0 34px; }
  .tabbed-content.text-size--small {
    font-size: 0.9375rem; }
  .tabbed-content.text-size--large {
    font-size: 1.1875rem; }
  .tabbed-content--content {
    padding: 35px 15px;
    display: none;
    color: var(--color-body, #2c2d2e); }
    @media only screen and (min-width: 768px) {
      .tabbed-content--content {
        padding: 60px 120px;
        column-count: var(--columns, 1); } }
    .tabbed-content--content.active {
      display: block; }
.tabbed-content--content .section-header {
  margin-bottom: 35px;
}
.tabbed-content--content.text-center .section-header {
  justify-content: center;
  text-align: center;
}
.tabbed-content--content.text-right .section-header {
  justify-content: end;
  text-align: right;
}
.tabbed-content--content .section-header--title {
  text-transform: capitalize;
}